<nav>
  <div class="site-title">
    <a href="/"
      ><h1>Exercise Made Simple</h1>
      <p>Understand Movement Easier</p>
    </a>
  </div>
  <ul>
    <li><a href="/about">What This Is</a></li>
    <li><a href="/who">Who Is It For?</a></li>
    <li><a href="/exercises">Exercise Descriptions</a></li>
  </ul>
</nav>
