<nav class=".container-fluid nav-container">
  <div class="links-container container-xxl d-flex justify-content-between">
    <div class="site-title">
      <a href="/"
        ><h1>Exercise Made Simple</h1>
        <p>Understand Movement Easier</p>
      </a>
    </div>
    <ul class="d-flex align-items-center p-0">
      <li class="mx-3"><a href="/about">About</a></li>

      <li class="mx-3"><a href="/exercises">Exercises</a></li>
    </ul>
  </div>
</nav>
