<nav class=".container-fluid nav-container mb-3">
  <div class="links-container container-xxl d-flex justify-content-around">
    <div class="site-title">
      <a class="d-flex flex-column align-items-center p-2 m-0" href="/"
        ><h1>Basic Movement</h1>
        <p>Understand Movement Easier</p>
      </a>
    </div>
    <ul class="d-flex align-items-center p-0">
      <li class="nav-link mx-1 p-0"><a href="/about">About</a></li>

      <li class="nav-link mx-1 p-0"><a href="/exercises">Exercises</a></li>
    </ul>
  </div>
</nav>
