<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/navbar.ejs') %>

    <h1>What is this</h1>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
