<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise Website</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home Page</a></li>

        <li><a href="/about">What This Is</a></li>
        <li><a href="/who">Who Is It For?</a></li>
        <li><a href="/exercises">Exercise Descriptions</a></li>
      </ul>
    </nav>
    <h1>What is this</h1>
    <footer class="footer">Copyright &COPY; 2021 by Mark Rose</footer>
  </body>
</html>
