<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/navbar.ejs') %>
    <h1>Exercises</h1>
    <div class="container">
      <div class="exercise-container">
        <img
          class="exercise-image"
          src="/img/squat.jpg"
          alt="barbell back squat exercise"
        />

        <div class="exercise-description">
          <h2 class="exercise-title">Squat</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ab
            incidunt illum maxime veniam saepe rerum, molestias tempora eveniet
            doloremque.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            nostrum fuga consequatur neque laboriosam placeat.
          </p>
        </div>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
