<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise Website</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home Page</a></li>

        <li><a href="/about">What This Is</a></li>
        <li><a href="/who">Who Is It For?</a></li>
        <li><a href="/exercises">Exercise Descriptions</a></li>
      </ul>
    </nav>

    <main class="container home-main">
      <h1 class="main-title">Welcome To The Exercise Website</h1>
      <h3 class="main-subheading">
        Learn About The Different Movement Patterns
      </h3>
      <p class="main-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, quam
        saepe corrupti iusto voluptatum distinctio, tenetur accusamus odio id
        placeat quaerat dicta nulla enim optio animi eveniet et! Itaque sunt
        incidunt et hic, laboriosam veniam veritatis accusantium vitae. Odit,
        iste?
      </p>
      <p class="main-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque sit esse
        ipsum doloribus laborum in odio impedit, ad officiis. Omnis impedit
        aliquid molestiae sequi, cupiditate et voluptas optio saepe ullam?
      </p>
    </main>
    <footer class="footer">Copyright &COPY; 2021 by Mark Rose</footer>
  </body>
</html>
