@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
/* Typography */
a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(231, 231, 241);
  letter-spacing: 1.2px;
}

/* Navigation */
.nav-container {
  color: #fff;
  background: rgb(2, 2, 253);
}

.links-container {
  border: 1px solid black;
}

.nav-container ul {
  list-style: none;
}

.nav-container a {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.site-title a h1 {
  font-size: 2.5rem;
  text-align: center;
}

.site-title a p {
  font-size: 1rem;
  text-align: center;
}

.nav-link {
  font-size: 1.25rem;
}

/* Home Page */
.home-main {
  border: 1px solid black;
}

.exercise-container {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-image {
  padding: 1em;
  width: 40%;
  height: 20em;
  object-fit: cover;
}

.exercise-description {
  padding: 1em;
  width: 40%;
}

@media (max-width: 992px) {
  .site-title a h1 {
    font-size: 2rem;
    text-align: center;
  }

  .site-title a p {
    font-size: 1rem;
    text-align: center;
  }

  .nav-link {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .site-title a h1 {
    font-size: 1.75rem;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .site-title a h1 {
    font-size: 1rem;
    text-align: center;
  }

  .site-title a p {
    font-size: 0.75rem;
    text-align: center;
  }

  .nav-link {
    font-size: 0.75rem;
  }
}
