/* Typography */
a {
  text-decoration: none;
  color: black;
}

body {
  background: rgb(231, 231, 241);
}

/* Navigation */
.nav-container {
  color: #fff;
  background: rgb(2, 2, 253);
}

.links-container {
  border: 1px solid black;
}

.nav-container ul {
  list-style: none;
}

.nav-container a {
  color: #fff;
}

.exercise-container {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-image {
  padding: 1em;
  width: 40%;
  height: 20em;
  object-fit: cover;
}

.exercise-description {
  padding: 1em;
  width: 40%;
}
